<div class="card" style="width: 20rem;">
    <img style="cursor: pointer;" (click)="open(content)" class="card-img-top samesize" src="{{product.thumbnail}}" alt="Card image cap">
    <div class="card-body">
        <h5 style="cursor: pointer;" (click)="open(content)" class="card-title">{{product.title}}</h5>
        <p class="card-text">$ {{product.price}}</p>
    </div>
    <div class="card-footer">
        <button
        (click)="addToCart(product)"
        (click)="successNotification()"
        class="btn btn-primary btn-block">Add to cart</button>
    </div>
</div>

<ng-template  #content let-c="close" let-d="dismiss">
	<div class="modal-header">
    <h3 class="product-title">{{product.title}}</h3>
	</div>
	<div class="modal-body">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{product.thumbnail}}" class="d-block w-100" style="height: 400px; max-width: 100%;">
        </div>
        <div *ngFor="let image of product.images.slice(0, product.images.length - 1);" class="carousel-item">
          <img src="{{image}}" class="d-block w-100" style="height: 400px; max-width: 100%;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>

    <div class="details">
      <p class="product-description">{{product.description}}</p>
      <h4 class="price">Current price: <span>{{product.price}}$</span></h4>
      <p class="vote">
        <strong>Rating</strong>
        {{product.rating}} ★
      </p>
      <h5 class="sizes">Brand:
        <span data-toggle="tooltip" title="small">{{product.brand}}</span>
      </h5>
    </div>
	</div>
	<div class="modal-footer">
        <button
        (click)="addToCart(product)"
        (click)="successNotification()"
        class="btn btn-outline-dark">Add to cart</button>
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
	</div>
</ng-template>


